@import '../colorPalette.styl'

:host
  background-color: $mainColor
  color: white
  display: flex
  flex-direction: column
  height: 100%
  width: 100%
  font-size 13px
  font-weight 500
  line-height 24px

.example-sidenav
  padding: 10px

.mat-sidenav-container
  height 100%