<md-sidenav-container>
  <md-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
    Jolly good!
    <br>
    <div class="example-content">
      <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam veritatis excepturi aut debitis voluptates ipsa! Iste
        enim repellendus, animi voluptas temporibus sunt.</div>
    </div>
    <ul>
      <li [routerLinkActive]="['active']">
        <a routerLink="/specific">specific</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a routerLink="/">mainView</a>
      </li>
    </ul>
  </md-sidenav>
</md-sidenav-container>
