<div class="visual-illusion" fxLayout="row" fxLayoutAlign="center center" 
  (mousemove)="moveStuff($event)">
  <div class="inner">
    <div class="face top"   >
      <video autoplay loop> 
        <source src="/assets/SampleVideo_720x480_1mb.mp4" type="video/webm"> 
      </video>
    </div>
    <div class="face right" >
      <video autoplay loop> 
        <source src="/assets/SampleVideo_720x480_1mb.mp4" type="video/webm"> 
      </video>
    </div>
    <div class="face left"  >
      <video autoplay loop> 
        <source src="/assets/SampleVideo_720x480_1mb.mp4" type="video/webm"> 
      </video>
    </div>
    <div class="face front" >
      <video autoplay loop> 
        <source src="/assets/SampleVideo_720x480_1mb.mp4" type="video/webm"> 
      </video>
    </div>
    <div class="face back"  >
      <video autoplay loop> 
        <source src="/assets/SampleVideo_720x480_1mb.mp4" type="video/webm"> 
      </video>
    </div>
    <div class="face bottom">
      <video autoplay loop> 
        <source src="/assets/SampleVideo_720x480_1mb.mp4" type="video/webm"> 
      </video>
    </div>
  </div>
</div>