<div class="visual-illusion" fxLayout="row" fxLayoutAlign="center center" 
  (mousemove)="moveStuff($event)">
  <div class="inner">
    <div class="face top"    [style.transform]="calculateTransform(-90, 0)"></div>
    <div class="face right"  [style.transform]="calculateTransform(0, 90)"></div>
    <div class="face left"   [style.transform]="calculateTransform(0, -90)"></div>
    <div class="face front"  [style.transform]="calculateTransform(0, 0)"></div>
    <div class="face back"   [style.transform]="calculateTransform(180, 0)"></div>
    <div class="face bottom" [style.transform]="calculateTransform(90, 0)"></div>
  </div>
</div>