$size = 300px

.visual-illusion
  width 100%
  height 100%
  background-color black;//cornsilk
  .inner
    /*perspective: 4000px;*/
    transform-style preserve-3d
    pointer-events none
    position relative
    transition transform 50ms linear
    .face
      backface-visibility hidden
      position: absolute;
      width: $size;
      height: $size;
      left: "calc(50% - calc(%s / 2))" % $size;
      top:  "calc(50% - calc(%s / 2))" % $size;
      perspective: 1000px;
      background-color: currentColor;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: var(--rotation) translateZ(150px);
      box-shadow: 0 1px 5px 4px white;
      for $i in (0..6)
        &:nth-child({$i + 1})
          if $i < 4
            --rotation: rotateY($i * 90deg)
          else
            --rotation: "rotateX(%sdeg)" % (($i - 5) * 180 - 90)
      > *
        width: 100%; height: 100%;
        margin: auto;
        color: white;
        font-size: 7em;
        object-fit: fill;