<p>
  main-view works!
</p>

<div class="table">
  <div class="table-header">
    <div class="item-header">link</div>
    <div class="item-header">Property1</div>
    <div class="item-header">Property2</div>
    <div class="item-header">Property3</div>
    <div class="item-header">Property4</div>
    <div class="item-header">Property5</div>
  </div>
  <div class="table-rows">
    <div class="item-row" *ngFor="let link of [1,2,3,4,5,6,7,8,9,10]">
      <div class="item-property"><a [routerLink]="['/specific', link]">link: {{link}}</a></div>
      <div class="item-property">Property1</div>
      <div class="item-property">Property2</div>
      <div class="item-property">Property3</div>
      <div class="item-property">Property4</div>
      <div class="item-property">Property5</div>
    </div>
  </div>
</div>
