.table-header
  border 1px solid black
  display flex
  flex-direction: row
  .item-header
    flex-grow 1
    min-width 30px
    min-height 60px
.table-rows
  border 1px solid #c4c4c4
  .item-row
    min-width 30px
    min-height 60px
    display flex
    flex-direction row
    .item-property
      flex-grow 1