<md-card class="table">
  <md-card-header>
    <md-card-title>Main table</md-card-title>
    <md-card-subtitle>Select a route</md-card-subtitle>
  </md-card-header>
  <div class="table-header">
    <div class="item-header">link</div>
    <div class="item-header">Property1</div>
    <div class="item-header">Property2</div>
    <div class="item-header">Property3</div>
    <div class="item-header">Property4</div>
  </div>
  <div class="table-rows">
    <div class="item-row" *ngFor="let link of [1,2,3,4,5,6,7,8,9]">
      <div class="item-property">
        <button md-button [routerLink]="['/specific', link]">link: {{link}}</button>
      </div>
      <div class="item-property">Property1</div>
      <div class="item-property">Property2</div>
      <div class="item-property">Property3</div>
      <div class="item-property">Property4</div>
    </div>
  </div>
</md-card>