<md-card class="table">
  <md-card-header>
    <md-card-title>Main table</md-card-title>
    <md-card-subtitle>Select a route</md-card-subtitle>
  </md-card-header>
  <div class="table-header">
    <div class="item-header">link</div>
    <div class="item-header">Property1</div>
    <div class="item-header">Property2</div>
  </div>
  <div class="table-rows">
    <div class="item-row">
      <div class="item-property">
        <button md-button routerLink="/loops">Rotating box with text on it</button>
      </div>
      <div class="item-property">Property1</div>
      <div class="item-property">Property2</div>
    </div>
    <div class="item-row">
      <div class="item-property">
        <button md-button routerLink="/specific">link: {{link}}</button>
      </div>
      <div class="item-property">Property1</div>
      <div class="item-property">Property2</div>
    </div>
  </div>
</md-card>